/* asplode component */
.asplode {
	position: relative;
	border: 1px solid #eee;
}
.asplode-zoom {
	overflow: auto;
	position: relative;
}
.asplode img {
	width: 100%;
	-webkit-transform: translateZ(0);
	-webkit-transition: width .2s ease-out;
	-moz-transition: width .2s ease-out;
	-ms-transition: width .2s ease-out;
	-o-transition: width .2s ease-out;
	transition: width .2s ease-out;
}
.asplode-basic img {
	position: absolute;
	top: 0;
	left: 0;
}
.asplode-notrans img {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.asplode nav {
	position: absolute;
	top: 1em;
	right: 2em;
}
.asplode nav button {
	background: none;
	-webkit-appearance: none;
	border: none;
	background: #aaa;
	width: 2.5em;
	height: 2.5em;
	font-weight: bold;
	margin-left: .5em;
	outline: none;
}
.asplode nav button:hover {
	background: #ccc;
	cursor: pointer;
}
.asplode nav button:active {
	background: #000;
	color: #fff;
}